* {box-sizing:border-box;}
html, body, div,h1,h2,p,form,fieldset,ul,legend,li,a,input,button,img,select,option,footer{
    margin:0; padding:0;
    font-size: 1,0rem; font-weight: normal; font-style: normal;
    line-height: 1.0;
}
fieldset{border:0;}
legend{display:none;}
a {color:black; text-decoration:none;}
button{border: 0; background: none;}
input{border:0; outline:none;}
select{border:0; outline:none; background: none;} 
select{border:0;}
ul,li{list-style:none;}
